<section class="content" bodyTheme>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12">
                <div class="innerLogoArea">
                    <img src="../../../assets/images/logo.png" alt="Logo" class="innerLogo">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-12">
                <div class="greyBox">
                    <div class="head p-4">
                        <h3 class="mb-0">SIGNUP</h3>
                    </div>
                    <div class="formContent">
                        <form>
                            <div class="mb-4 row">
                                <label for="staticEmail" class="col-sm-3 col-form-label">Email</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="inputPassword">
                                </div>
                            </div>
                            <div class="mb-4 row">
                                <label for="inputPassword" class="col-sm-3 col-form-label">Password</label>
                                <div class="col-sm-9">
                                    <input type="password" class="form-control" id="inputPassword">
                                </div>
                            </div>
                            <div class="mb-4 row">
                                <label for="inputPassword" class="col-sm-3 col-form-label">Date of Birth </label>
                                <div class="col-sm-9">
                                    <div class='input-group date' id='startDate'>
                                        <input type='text' class="form-control" name="startDate" />
                                        <span class="input-group-addon input-group-text"><span class="fa fa-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="mb-4 row">
                                <div class="col-sm-3">

                                </div>
                                <div class="col-sm-9">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                        <label class="form-check-label" for="flexCheckDefault">
                                            Remember Me
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="mb-4 row">
                                <div class="col-sm-3">

                                </div>
                                <div class="col-sm-9">
                                    <div class="actionBtns">
                                        <div class="d-flex justify-content-between">
                                            <button type="submit" class="btn submit">LOGIN</button>
                                            <a href="#" class="btn forget">Forgot Password? </a>
                                            <a href="#" class="btn recover">Recover it then? </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="mb-4 row">
                                <div class="col-sm-3">

                                </div>
                                <div class="col-sm-9">
                                    <div class="socialBar">
                                        <h6 class="mb-3">Or use your social network</h6>
                                        <ul class="list-inline">
                                            <li class="list-inline-item google"><a href="#"><i class="fab fa-google"></i></a></li>
                                            <li class="list-inline-item twitter"><a href="#"><i class="fab fa-twitter"></i></a></li>
                                            <li class="list-inline-item twitch"><a href="#"><i class="fab fa-twitch"></i></a></li>
                                            <li class="list-inline-item facebook"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>