<app-navbar></app-navbar>
    <hr class="pageSeprator m-0">
    <div class="headerInner" bodyTheme>
        <h5>Leader Board</h5>
    </div>
    <section class="content">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-4">
                    <div class="profileCard rankTwo mt-5 pt-5">
                        <div class="contentArea p-3">
                            <i class="fa-solid fa-chess-king mb-2"></i>
                            <div class="pic mb-4"><i class="fas fa-user"></i><span>#2</span></div>
                            <h5 class="mb-3">Farooq</h5>
                            <p>5000 Tokens</p>
                        </div>
                        <div class="bottomContent">
                            <div class="d-flex justify-content-center">
                                <p class="won">Won 15</p>
                                <img src="assets/images/leaderboard-line.png" alt="Image" class="leaderboardSep">
                                <p class="loss">Loss 100</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-4">
                    <div class="profileCard rankOne mt-5 pt-5">
                        <div class="contentArea p-3">
                            <i class="fa-solid fa-chess-king mb-2"></i>
                            <div class="pic mb-4"><i class="fas fa-user"></i><span>#1</span></div>
                            <h5 class="mb-3">Farooq</h5>
                            <p>5000 Tokens</p>
                        </div>
                        <div class="bottomContent">
                            <div class="d-flex justify-content-center">
                                <p class="won">Won 15</p>
                                <img src="assets/images/leaderboard-line.png" alt="Image" class="leaderboardSep">
                                <p class="loss">Loss 100</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-4">
                    <div class="profileCard rankThree mt-5 pt-5">
                        <div class="contentArea p-3">
                            <i class="fa-solid fa-chess-king mb-2"></i>
                            <div class="pic mb-4"><i class="fas fa-user"></i><span>#3</span></div>
                            <h5 class="mb-3">Farooq</h5>
                            <p>5000 Tokens</p>
                        </div>
                        <div class="bottomContent">
                            <div class="d-flex justify-content-center">
                                <p class="won">Won 15</p>
                                <img src="assets/images/leaderboard-line.png" alt="Image" class="leaderboardSep">
                                <p class="loss">Loss 100</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid mt-5">
                <table class="table table-striped userPic">
                    <thead>
                        <tr>
                            <th scope="col"></th>
                            <th scope="col">Name</th>
                            <th scope="col">WON</th>
                            <th scope="col">Loss</th>
                            <th scope="col">Tournaments Participated</th>
                            <th scope="col">Trophies won</th>
                            <th scope="col">Tokens</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>#1</td>
                            <td>
                                <div class="d-flex flex-row bd-highlight">
                                    <div class="bd-highlight">
                                        <div class="pic"><i class="fas fa-user"></i></div>
                                    </div>
                                    <div class="bd-highlight name">Farooq007</div>
                                </div>
                            </td>
                            <td class="green">69</td>
                            <td class="red">109</td>
                            <td class="red">12</td>
                            <td class="red">02</td>
                            <td>9000 Tokens</td>
                        </tr>
                        <tr>
                            <td>#2</td>
                            <td>
                                <div class="d-flex flex-row bd-highlight">
                                    <div class="bd-highlight">
                                        <div class="pic"><i class="fas fa-user"></i></div>
                                    </div>
                                    <div class="bd-highlight name">Farooq007</div>
                                </div>
                            </td>
                            <td class="green">69</td>
                            <td class="red">109</td>
                            <td class="red">12</td>
                            <td class="red">02</td>
                            <td>9000 Tokens</td>
                        </tr>
                        <tr>
                            <td>#3</td>
                            <td>
                                <div class="d-flex flex-row bd-highlight">
                                    <div class="bd-highlight">
                                        <div class="pic"><i class="fas fa-user"></i></div>
                                    </div>
                                    <div class="bd-highlight name">Farooq007</div>
                                </div>
                            </td>
                            <td class="green">69</td>
                            <td class="red">109</td>
                            <td class="red">12</td>
                            <td class="red">02</td>
                            <td>9000 Tokens</td>
                        </tr>
                        <tr>
                            <td>#4</td>
                            <td>
                                <div class="d-flex flex-row bd-highlight">
                                    <div class="bd-highlight">
                                        <div class="pic"><i class="fas fa-user"></i></div>
                                    </div>
                                    <div class="bd-highlight name">Farooq007</div>
                                </div>
                            </td>
                            <td class="green">69</td>
                            <td class="red">109</td>
                            <td class="red">12</td>
                            <td class="red">02</td>
                            <td>9000 Tokens</td>
                        </tr>
                        <tr>
                            <td>#5</td>
                            <td>
                                <div class="d-flex flex-row bd-highlight">
                                    <div class="bd-highlight">
                                        <div class="pic"><i class="fas fa-user"></i></div>
                                    </div>
                                    <div class="bd-highlight name">Farooq007</div>
                                </div>
                            </td>
                            <td class="green">69</td>
                            <td class="red">109</td>
                            <td class="red">12</td>
                            <td class="red">02</td>
                            <td>9000 Tokens</td>
                        </tr>
                        <tr>
                            <td>#6</td>
                            <td>
                                <div class="d-flex flex-row bd-highlight">
                                    <div class="bd-highlight">
                                        <div class="pic"><i class="fas fa-user"></i></div>
                                    </div>
                                    <div class="bd-highlight name">Farooq007</div>
                                </div>
                            </td>
                            <td class="green">69</td>
                            <td class="red">109</td>
                            <td class="red">12</td>
                            <td class="red">02</td>
                            <td>9000 Tokens</td>
                        </tr>
                        <tr>
                            <td>#7</td>
                            <td>
                                <div class="d-flex flex-row bd-highlight">
                                    <div class="bd-highlight">
                                        <div class="pic"><i class="fas fa-user"></i></div>
                                    </div>
                                    <div class="bd-highlight name">Farooq007</div>
                                </div>
                            </td>
                            <td class="green">69</td>
                            <td class="red">109</td>
                            <td class="red">12</td>
                            <td class="red">02</td>
                            <td>9000 Tokens</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <section class="footerInner p-4">
            <div class="bgImg">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 col-md-12">
                            <app-footer></app-footer>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-md-12">
                            <social-bar></social-bar>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section>