<app-navbar></app-navbar>
<hr class="pageSeprator m-0">
<div class="headerInner" bodyTheme>
    <h5>Game Dev</h5>
</div>


<section class="content">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12">
                <div class="contentShort mt-5">
                    <h5>{{model?.title}}</h5>
                    <p [innerHtml]="model?.descriptionOne"></p>
                    <div class="favGame metaverse mt-5">
                        <div class="row">
                            <div class="col-sm-12 col-md-8">
                                <div class="txtBlock">
                                    <!-- <h3>Metaverse is soaring to new<br>
                                        heights with each passing day.
                                    </h3> -->
                                    <p>Since 2020, the Web3-gaming market based on blockchain technology has rapidly grown. Investors donated $1 billion to new Web3 projects in January 2022 alone — 25% more than in 2021. Web3 gaming will receive a record number of new investments by the end of this year.
                                    </p>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-4">
                                <img src="../../../assets/images/img-gamepad.png" alt="Image" class="gamePadImg">
                            </div>
                        </div>
                    </div>
                    <p class="mt-5 mb-5" [innerHtml]="model?.descriptionTwo"></p>
                </div>
            </div>
        </div>
    </div>
    <section class="footerInner p-4">
        <div class="bgImg">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-md-12">
                        <app-footer></app-footer>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-12">
                        <social-bar></social-bar>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>