<app-navbar></app-navbar>
<hr class="pageSeprator m-0">
<div class="headerInner" bodyTheme>
    <h5>Video Stream</h5>
</div>

<section class="content">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12">
                <div class="contentShort mt-5">
                    <h5>{{model?.title}}</h5>
                    <p>{{model?.descriptionOne}}</p>
                    <div class="favGame metaverse mt-5">
                        <div class="row">
                            <div class="col-sm-12 col-md-8">
                                <div class="txtBlock">
                                    <h3>Metaverse is soaring to new<br>
                                        heights with each passing day.
                                    </h3>
                                    <p>Although Metaverse is for everyone
                                        and different industries are adopting it,
                                        the gaming industry adopted Metaverse
                                        earlier than others to unlock its full benefits.
                                    </p>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-4">
                                <img src="../../../assets/images/img-gamepad.png" alt="Image" class="gamePadImg">
                            </div>
                        </div>
                    </div>
                    <p class="mt-5 mb-5">{{model?.descriptionTwo}}</p>
                </div>
            </div>
        </div>
    </div>
    <section class="footerInner p-4">
        <div class="bgImg">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-md-12">
                        <app-footer></app-footer>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-12">
                        <social-bar></social-bar>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>