<app-navbar></app-navbar>
<hr class="pageSeprator m-0">
<div class="headerInner" bodyTheme>
    <h5>Contact Page & Support</h5>
</div>

<section class="content">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12">
                <div class="greyBox mt-5">
                    <div class="head p-4">
                        <h3 class="mb-0">Contact Us</h3>
                    </div>
                    <div class="formContent">
                        <!-- <div class="alert alert-primary" role="alert">
                           cl <i ass="fal fa-info-circle"></i>Let us know a little about yourself
                        </div> -->
                        <form>
                            <div class="mb-4 row">
                                <label for="staticEmail" class="col-sm-3 col-form-label">Name</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="inputPassword">
                                </div>
                            </div>
                            <div class="mb-4 row">
                                <label for="inputPassword" class="col-sm-3 col-form-label">Email</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="inputPassword">
                                </div>
                            </div>
                            <div class="mb-4 row">
                                <label for="inputPassword" class="col-sm-3 col-form-label">Subject</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="inputPassword">
                                </div>
                            </div>
                            <div class="mb-4 row">
                                <label for="inputPassword" class="col-sm-3 col-form-label">Message</label>
                                <div class="col-sm-9">
                                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" ></textarea>
                                </div>
                            </div>
                            <div class="mb-4 row">
                                <div class="col-sm-3">

                                </div>
                                <div class="col-sm-9">
                                    <div class="actionBtns">
                                        <div class="d-flex justify-content-between">
                                            <button type="submit" class="btn submit">Send</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="footerInner p-4">
    <div class="bgImg">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-12">
                    <app-footer></app-footer>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-12">
                    <social-bar></social-bar>
                </div>
            </div>
        </div>
    </div>
</section>