

       <ng-container *ngIf="isViewAll">
        <app-navbar></app-navbar>
        <hr class="pageSeprator m-0">
        <div class="headerInner" bodyTheme>
            <h5>Games</h5>
        </div>
    
        <section class="content">
            <div class="container">
                
                <div class="row">
                    <div class="col-sm-12 col-md-12">
                        <div class="topGames contentShort mt-5" style="margin-top: 0;">
                            
                    <div class="row">
                            <h3 class="text-center">TOP GAMES</h3>
                            <div class="col-sm-12 col-md-4" *ngFor="let item of tournaments; let i=index;">
                                <div class="topGame">
                                    <div class="d-flex flex-column bd-highlight mb-4">
                                        <div class="p-0 bd-highlight">
                                            <img [src]="loadImage(i)" alt="Image" class="topGameImg">
                                        </div>
                                        <div class="p-0 bd-highlight">
                                            <div class="card p-4">
                                                <h3 class="mb-1" style="cursor: pointer;" (click)="navigate(item.id)">{{item?.title}}</h3>
                                                <p class="mb-0">Purchase</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </div>
</div>
</div>
</div>

            </div>

            <section class="footerInner p-4">
                <div class="bgImg">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-12 col-md-12">
                                <app-footer></app-footer>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 col-md-12">
                                <social-bar></social-bar>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </section>
    
    </ng-container>

<ng-container *ngIf="!isViewAll">
    
<div class="row">
    <div class="col-sm-12 col-md-12">
        <div class="title mb-5">
            <h3>TOP GAMES</h3>
        </div>
    </div>
</div>
<div class="row">
    <ng-container *ngFor="let item of tournaments; let i=index;">
        <div class="col-sm-12 col-md-4 contentShort mt-5">
            <div class="topGame">
                <div class="d-flex flex-column bd-highlight mb-4">
                    <div class="p-0 bd-highlight">
                        <img [src]="loadImage(i)" alt="Image" class="topGameImg">
                    </div>
                    <div class="p-0 bd-highlight">
                        <div class="card p-4">
                            <h3 class="mb-1" style="cursor: pointer;" (click)="navigate(item.id)">{{item.title}}</h3>
                            <p class="mb-0">Purchase</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ng-container>
</div>

<div class="row">
    <div class="col-sm-12 col-md-12">
        <div class="actionBtns mt-4 mb-4">
            <a [routerLink]="['/games']" style="border: 2px solid #fff !important;
            font-size: 2rem !important;
            border-radius: 0 !important;
            padding: 0.375rem 2rem !important;" class="btn btn-primary">View More</a>
        </div>
    </div>
</div>

</ng-container>