<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-6">
            <div class="blogImg bigImage mt-5">
                <div class="info shadowBlack">
                    <a href="#">
                        <h5>Save Humanity With #GameForGood: 8 Charities to Donate to</h5>
                    </a>
                    <p class="mt-2 mb-0">27 April 2022</p>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6">
            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <div class="blogImg game1 small mt-5">
                        <div class="info shadowBlack">
                            <a href="#">
                                <h5>Help Bring a Better Change With #GameForGood</h5>
                            </a>
                            <p class="mt-2 mb-0">27 April 2022</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6">
                    <div class="blogImg game2 small mt-5">
                        <div class="info shadowBlack">
                            <a href="#">
                                <h5>Call Of Duty Play</h5>
                            </a>
                            <p class="mt-2 mb-0">27 April 2022</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <div class="blogImg game3 small mt-4">
                        <div class="info shadowBlack">
                            <a href="#">
                                <h5>Help Bring a Better Change With #GameForGood</h5>
                            </a>
                            <p class="mt-2 mb-0">27 April 2022</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6">
                    <div class="blogImg small game4 mt-4">
                        <div class="info shadowBlack">
                            <a href="#">
                                <h5>Help Bring a Better Change With #GameForGood</h5>
                            </a>
                            <p class="mt-2 mb-0">27 April 2022</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="followgamesaibar p-4 mt-5 mb-3">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12">
                <div class="d-flex justify-content-between">
                    <a href="#" class="btn white"><i class="fab fa-twitter"></i>Follow Gaming.AI</a>
                    <h5 class="mt-3">Follow Gaming .Ai Yalla For Updates On Exclusive Tournaments And Biggest Prizes</h5>
                    <img src="assets/images/ico-gamepad.png" alt="Image" class="gamepadIco">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="latestArticles">
        <div class="row">
            <h5 class="mt-4 mb-4">Latest Articles</h5>
            <div class="col-sm-12 col-md-4">
                <div class="blogImg smalllatest mt-2 game3 mb-3">
                    <div class="info shadowBlack">
                        <a href="#">
                            <h5>Beginners Guide</h5>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-4">
                <div class="blogImg smalllatest game4 mt-2">
                    <div class="info shadowBlack">
                        <a href="#">
                            <h5>Top 6 Fifa Games</h5>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-4">
                <div class="blogImg smalllatest game5 mt-2">
                    <div class="info shadowBlack">
                        <a href="#">
                            <h5>PC VS CONSOLE GAMING</h5>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="latestNews">
        <div class="row">
            <h5 class="mt-4 mb-4">Latest News</h5>
            <div class="col-sm-12 col-md-4">
                <div class="blogImg newsbig mb-3">
                    <div class="info shadowBlack">
                        <a href="#">
                            <h5>A Step-by-step Guide to Organize Esports Tournaments on Kafu Games</h5>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-8">
                <div class="row">
                    <div class="col-sm-12 col-md-6">
                        <div class="blogImg mb-4">
                            <div class="row">
                                <div class="col-sm-12 col-md-6">
                                    <img src="assets/images/img-blog-news-1.jpg" alt="Image" class="newsImg">
                                </div>
                                <div class="col-sm-12 col-md-6">
                                    <div class="infoRight">
                                        <a href="#">
                                            <h5> Without Ralph Baer, we wouldn’t know Video Games</h5>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <div class="blogImg mb-4">
                            <div class="row">
                                <div class="col-sm-12 col-md-6">
                                    <img src="assets/images/img-blog-news-2.jpg" alt="Image" class="newsImg">
                                </div>
                                <div class="col-sm-12 col-md-6">
                                    <div class="infoRight">
                                        <a href="#">
                                            <h5> Without Ralph Baer, we wouldn’t know Video Games</h5>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <div class="blogImg mb-4">
                            <div class="row">
                                <div class="col-sm-12 col-md-6">
                                    <img src="assets/images/img-blog-news-3.jpg" alt="Image" class="newsImg">
                                </div>
                                <div class="col-sm-12 col-md-6">
                                    <div class="infoRight">
                                        <a href="#">
                                            <h5> Without Ralph Baer, we wouldn’t know Video Games</h5>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <div class="blogImg mb-4">
                            <div class="row">
                                <div class="col-sm-12 col-md-6">
                                    <img src="assets/images/img-blog-news-3.jpg" alt="Image" class="newsImg">
                                </div>
                                <div class="col-sm-12 col-md-6">
                                    <div class="infoRight">
                                        <a href="#">
                                            <h5>Without Ralph Baer, we wouldn’t know Video Games</h5>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="footerInner p-4" *ngIf="layoutOptionsModel?.Footer">
    <div class="bgImg">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-12">
                    <div class="footer">
                        <div class="row">
                            <div class="col-sm-12 col-md-4">
                                <div class="footerLogoCont">
                                    <img src="assets/images/logo-footer.png" alt="Logo" class="logoFooter">
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-3">
                                <div class="FooterNav pt-5 mt-4">
                                    <h5>Games</h5>
                                    <ul class="list-unstyled">
                                        <li><a href="#">dota 2</a></li>
                                        <li><a href="#">ASSASSIN CREED</a></li>
                                        <li><a href="#">WATCH DOGS</a></li>
                                        <li><a href="#">TOMB RAIDER</a></li>
                                        <li><a href="#">call of duty wii</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-3">
                                <div class="FooterNav pt-5 mt-4">
                                    <h5>Navigation</h5>
                                    <ul class="list-unstyled">
                                        <li><a href="#">watch</a></li>
                                        <li><a href="#">team finder</a></li>
                                        <li><a href="#">articles</a></li>
                                        <li><a href="#">about us</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-2">
                                <div class="FooterNav pt-5 mt-4">
                                    <h5>support</h5>
                                    <ul class="list-unstyled">
                                        <li><a href="#">Q/A</a></li>
                                        <li><a href="#">WORK WITH US</a></li>
                                        <li><a href="#">PRIVACY POLICY</a></li>
                                        <li><a href="#">USER GUIDE</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-12">
                    <app-social-bar *ngIf="layoutOptionsModel?.Socialbar"></app-social-bar>
                </div>
            </div>
        </div>
    </div>
</section>