<ng-container>
    <app-navbar></app-navbar>
</ng-container>
<hr class="pageSeprator m-0">
    <div class="headerInner" bodyTheme>
        <h5>Watch US</h5>
    </div>
    <section class="content">
        <div class="container">
            <div class="row" *ngFor="let item of articles; let i=index;">
                <div class="col-sm-12 col-md-4">
                    <div class="watchBox mt-5 pt-5">
                        <div class="contentArea">
                            <p class="twitchIco mb-3"><i class="fab fa-twitch"></i></p>
                            <h5 class="mb-5">{{item?.title}}</h5>
                        </div>
                        <div class="bottomContent pt-3">
                        <a href="#" class="followLink p-4">{{item?.description}}</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-8">
                    <div class="vdoPlay game1 mt-5" [ngStyle]="loadImage(item)">
                    <a href="#"><i class="fas fa-play"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <section class="footerInner p-4">
            <div class="bgImg">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 col-md-12">
                            <app-footer></app-footer>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-md-12">
                            <social-bar></social-bar>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section>