<ng-container>
    <app-navbar></app-navbar>
</ng-container>
<hr class="pageSeprator m-0">
    <section class="content" bodyTheme>
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <div class="blogImg mt-5">
                        <a href=""><img [src]="loadImage(detailModel)" alt="Image" class="largeImg"></a>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6">
                    <div class="popularArticles mt-5">
                        <div class="head">
                            <h5 class="mb-4">Popular Articles</h5>
                            <a [routerLink]="['/articles']" class="btn white">View More Articles</a>
                        </div>
                        <div class="followBox mt-5 p-5">
                            <h5>Follow Gaming .Ai Yalla For Updates On
                                Exclusive Tournaments
                                And Biggest Prizes</h5>
                            <a href="#" class="btn white mt-3"><i class="fab fa-twitter"></i>Follow Gaming.AI</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <div class="contentShort mt-5">
                        <h5>{{detailModel?.title}}</h5>
                        <p class="date mt-3">{{detailModel?.postDate | date:'dd MMM yyyy'}}</p>
                        <p>{{detailModel?.description}}</p>
                    </div>
                </div>
            </div>
        </div>
        <section class="footerInner p-4">
            <div class="bgImg">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 col-md-12">
                            <app-footer></app-footer>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-md-12">
                            <social-bar></social-bar>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section>