<div class="footer">
    <div class="row">
        <div class="col-sm-12 col-md-4">
            <div class="footerLogoCont">
                <img src="assets/images/logo-footer.png" alt="Logo" class="logoFooter">
            </div>
        </div>
        <div class="col-sm-12 col-md-3">
            <div class="FooterNav pt-5 mt-4">
                <h5>Games</h5>
                <ul class="list-unstyled">
                    <li *ngFor="let item of tournaments; let i=index;"><a [routerLink]="['/blog-details']" [queryParams]="{ p: item?.id}">{{item?.title}}</a></li>
                </ul>
            </div>
        </div>
        <div class="col-sm-12 col-md-3">
            <div class="FooterNav pt-5 mt-4">
                <h5>Navigation</h5>
                <ul class="list-unstyled">
                    <li *ngFor="let item of navigations; let i=index;"><a href="{{item.link}}">{{item?.caption}}</a></li>
                </ul>
            </div>
        </div>
        <div class="col-sm-12 col-md-2">
            <div class="FooterNav pt-5 mt-4">
                <h5>support</h5>
                <ul class="list-unstyled">
                    <li *ngFor="let item of supportLinks; let i=index;"><a href="{{item.link}}">{{item?.caption}}</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>