<div class="inviteFriends mt-2">
    <div class="row">
        <div class="col-sm-12 col-md-8">
            <div class="inviteTxt pt-4">
                <h3 class="mb-4">{{inviteFriend?.title}}</h3>
                <div class="bdrDiv">
                    <!-- <p>invite your friends GET <span>10 FRIENDS</span> TO SIGN<br> UP ANDGET ONE TOURNAMENTINVITE <span>FREE</span></p> -->
                    <p>{{inviteFriend?.description}}</p>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-4">
            <div class="signUpCont">
                <img [src]="inviteFriend?.imagePath" alt="Image">
            </div>
        </div>
    </div>
</div>