<app-navbar></app-navbar>
<hr class="pageSeprator m-0">
<div class="headerInner" bodyTheme>
    <h5>Privacy Policy</h5>
</div>

<section class="content">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12">
                <div class="contentShort mt-5">
                    <h5>1. Introduction</h5>
                    <p style="margin-left: 20px;">1.1) The Game Company (“TGC,” “us,” “we,” or “our”) operates http://thegamecompany.ai/ and related software applications and any other features, tools, online and downloadable products, materials, or other services offered from time to time by TGC (together the “Service”). We also recognize that people who use TGC’s Service (“you” or “Users”) value their privacy.</p>
                    <p style="margin-left: 20px;">This Privacy Policy details important information regarding the collection, use and disclosure of User information collected when you use the Service as well as the choices available to you regarding our use of your personal information. TGC provides this Privacy Policy to help you make an informed decision about whether to use or continue using the Service. We will not use or share your personal information with anyone except as described in this Privacy Policy.</p>
                    <p style="margin-left: 20px;">1.2) This Privacy Policy should be read in conjunction with our Terms of Service. By accessing the Service, you are consenting to the information collection and use practices described in this Privacy Policy.</p>
                    <p style="margin-left: 20px;">1.3) Your use of the Service and any information you provide through the Service remains subject to the terms of this Privacy Policy and our Terms of Service, as each may be updated from time to time.</p>
                    <p style="margin-left: 20px;">1.4) Any questions, comments or complaints that you might have should be emailed to info@thegamecompany.ai .</p>



                    <h5>2. Information Collection and Use</h5>
                    <p style="margin-left: 20px;">2.1) By using our Service and by submitting information to us through your use of our Service then this Privacy Policy will apply. You provide certain personal information to TGC when choosing to participate in the various activities on the Service such as certain personally identifiable information, as well as non-personal and/or aggregated data.</p>
                    <p style="margin-left: 20px;">2.2) We collect this information for the purpose of creating and managing your accounts with us and our commercial partners (if and as applicable to you) and for identifying and communicating with you, providing the activities and features available on the Service (such as game stats, game sessions, coins, and rewards), and improving the Service. The personal information we collect from you generally may include data: 
                    <p style="margin-left: 50px;">a. For access to the Service, you must create an account and profile. You will need to provide information, some of which is personally identifiable including name, email address, login username, password, date of birth and other optional information such as game aliases, public profile details, address and phone number.</p>
                <p style="margin-left: 50px;">b.  
                    When you use the Service and the activities available through the Service you may be asked to provide additional information as necessary for us to provide the Service</p>    
                
                    <p style="margin-left: 50px;">c.  
                        We track game play data and statistics including scores, game stats, game play sessions, coins and rewards, some of which will be publicly available</p>    
                        <p style="margin-left: 50px;">
                            d. If you participate in an event managed and administered by a third-party organizer, your personal information will be provided to such organizer only in order to operate the event and publicly report the results. If you don't want your personal information provided to an organizer, then do not participate in such third-party events.</p>    
                            <p style="margin-left: 50px;">
                                e. We may collect information that our software or your browser sends whenever you use the Service (“Log Data”). This Log Data may include information such as your computer’s IP address, browser type, browser version, the pages of our Service that you visit, the time and date of your visit, the time spent on those pages, cookies, hardware you use to access our software or webpages, and other statistics. Log Data does not contain message content and is not routinely deleted.</p>    
                   
                   
                                <p style="margin-left: 50px;">
                                    f. WWhen signing in through the Steam OpenID provider, users will be authenticated using their but not limited to 64-bit SteamID, as Battle.net’s ‘BattleTag’, Riot ID, SSO provider, Google, Twitch, Twitter or Facebook. Information available from this SteamID may also be collected, including, but not limited to, user’s purchased games and other behaviors, game lists, lists, playtime, badges, wish lists, achievements, friends, online status and groups</p>    
                   
                                    

                                    <p style="margin-left: 50px;">
                                        g. When you opt in to receive the TGC newsletter, you will receive marketing communications and other marketing materials based on user activities in any of our LAN centers. You may unsubscribe at any time by clicking unsubscribe at the bottom of the email or by updating your preferences on your account profile.</p>    
                   
                                        

                

                                        <p style="margin-left: 20px;">2.2 In addition to the above, we may need to verify your identity in order for you to use some aspects of the Service. For purposes of verification, we may also collect the following personal information from you (for regulatory compliance obligations around know your customer and anti-money laundering requirements, provision of this information, when requested, is a mandatory condition of using our Service):</p>
                                        <p style="margin-left: 50px;">2.2.1) Full name</p>
                                    <p style="margin-left: 50px;">
                                        2.2.2) Residential address
                                        </p>
                                        <p style="margin-left: 50px;">2.2.3) Contact details (telephone number, email address)</p>
                                            <p style="margin-left: 50px;">2.2.4) Date and place of birth, gender, place of citizenship</p> 
                                                <p style="margin-left: 50px;">2.2.5) Bank account information and/or credit card details</p>

                                       
                                                    <p style="margin-left: 50px;">2.2.6) Your status as a politically exposed person</p>

                                                        
                    
                                                        <p style="margin-left: 50px;">2.2.7) Source of funds & proof of address</p>
                                                        <p style="margin-left: 50px;">2.2.8) Passport information and/or driver’s license information or government issued identification card to verify your identity</p>
                                                        <p style="margin-left: 50px;">2.2.9) Permanent and temporary address</p>
                                                        <p style="margin-left: 50px;">2.2.10) Transaction history and account balances in connection with your use of certain Services</p>
                                                        <p style="margin-left: 50px;">2.2.11) tax-related information; and</p>
                                                        <p style="margin-left: 50px;">2.2.12) other information as may be required to verify you in accordance with applicable laws and regulations.</p>
                   
                                                        <p style="margin-left: 20px;">2.3 Mobile Applications. Certain mobile products and services (“Products”) are currently supported by third party advertising partners that serve advertisements (“Third Party Advertisers”), including behavioral, location or interest-based advertising (“Interest Based Advertising”) within our Services. These Third-Party Advertisers use technology to serve the advertisements and may link to them directly into our Products. They may automatically receive your device ID, IP address or geo-location data (limited to country/region) when this happens.</p>
                                                        <p style="margin-left: 20px;">When you use our mobile app, we also may collect mobile device information like operating system and hardware type, numbers or codes that are unique to your particular device (such as IDFA or an Android Ad ID), device information, default device language, the location of your device (at a GPS level), and app usage information. This data also may be linked to your other information, including your location data.</p>
                                                        <p style="margin-left: 20px;">Upon request we can provide you with our Third-Party Advertisers and Partners used within certain Products for information regarding their privacy practices.</p>
                                                        <p style="margin-left: 20px;">Your mobile device may provide you with the ability to limit this functionality.</p>
                                                        <p style="margin-left: 20px;">iOS (versions 10-13) – On your iOS device (iPhone or iPad), open “Settings > Privacy > Advertising” and turn on “Limit Ad Tracking” to opt-out of interest-based ads. Please see additional information from Apple here: https://support.apple.com/en-us/HT202074</p>
                                                        <p style="margin-left: 20px;">iOS (version 14.5+) – On your iOS device (iPhone or iPad) open “Settings > Privacy > Tracking” and turn off “Allow Apps to Request to Track”</p>
                                                        <p style="margin-left: 20px;">Android – Open the Settings app on your Android phone, tap Ads and enable “Opt out of interest-based ads”.</p>
                                                        <p style="margin-left: 20px;">Please note that if you opt out of certain Interest Based Advertising, you may continue to receive contextual ads based on other non-personal information, such as ads related to the content of the Product you are using.</p>
                                

<h5>10. Nevada Residents</h5>
                                                        <p style="margin-left: 20px;">Our customers who are Nevada residents have the right at any time to request that we do not sell the following information regarding them to third parties:</p>
                                                        <p style="margin-left: 20px;">(1) the customer’s first and last name;</p>
                                                        <p style="margin-left: 20px;">(3) the customer’s e-mail address;</p>
                                                        <p style="margin-left: 20px;">(4) the customer’s telephone number;</p>
                                                        <p style="margin-left: 20px;">(5) the customer’s social security number;</p>
                                                        <p style="margin-left: 20px;">(6) the customer’s identifier that allows a specific person to be contacted; or</p>
                                                        <p style="margin-left: 20px;">(7) any other information concerning a customer collected from the customer through our Internet website or online service and maintained in combination with an identifier in a form that makes the information personally identifiable.</p>
                                                        <p style="margin-left: 20px;">To exercise your right to opt out of the sale of Covered Information under Nevada law, please contact us and be ready to provide your name, address, and email. We may ask for other information in order to confirm your identity. Any information we receive from you in order to confirm your identity will solely be used for such verification purposes.</p>


                                                        
<h5>11. EEA, UK and Switzerland only</h5>
<p style="margin-left: 20px;">With respect to personal data of individuals from the European Economic Area (“EEA”), the United Kingdom (“UK”) or Switzerland, our legal basis for collecting and using the personal data will depend on the personal data concerned and the specific context in which we collect it. TGC will generally collect personal data from you or a third party only where: (a) we have your consent to do so, (b) where we need the personal data to perform a contract with you (e.g. to deliver the services you have requested), or (c) where the processing is in our or a third party’s legitimate interests (and not overridden by your data protection interests or fundamental rights and freedoms)</p>


<h5>12. International Transfers of your Personal data</h5>
<p style="margin-left: 20px;">We are a global company. Information about you may be stored and processed in the European Economic Area, the United States or any other country in which TGC or agents or contractors maintain facilities, and by accessing our websites and using our mobile apps, software and services, you consent to the transfer of your information outside of your country. Such countries may have laws which are different, and potentially not as protective as the laws of your own country.</p>
<p style="margin-left: 20px;">Whenever we share personal data originating in the EEA, the UK or Switzerland, we will rely on lawful measures to transfer that data, such as the Privacy Shield or the EU standard contractual clauses. If you reside in the EEA, UK or other regions with laws governing data collection and use, please note that you are agreeing to the transfer of your personal data to the United States and other jurisdictions in which we operate. By providing your personal data, you consent to any transfer and processing in accordance with this Policy.</p>

<h5>13. Links to Other Sites</h5>
<p style="margin-left: 20px;">Our Service may contain links to other sites that are not operated by us. If you click on a third-party link, you will be directed to that third party’s site. We strongly advise you to review the privacy policy of every site you visit. We have no control over, and assume no responsibility for, the content, privacy policies, or practices of any third-party sites or serv</p>


<h5>14. Changes to This Privacy Policy</h5>
<p style="margin-left: 20px;">We reserve the right to update or change our Privacy Policy at any time and you should check this Privacy Policy periodically. Your continued use of the Service after we post any modifications to the Privacy Policy on this page will constitute your acknowledgment of the modifications and your consent to abide and be bound by the modified Privacy Policy.</p>
<p style="margin-left: 20px;">If we make any material changes to this Privacy Policy, we will notify you either through the email address you have provided us, or by placing a prominent notice on our website</p>

<h5>15. Contact Us</h5>
<p style="margin-left: 20px;">If you have any questions about this Privacy Policy, please contact us.</p>
<p style="margin-left: 20px;">By email at: info@thegamecompany.ai</p>


<!-- <div class="favGame metaverse mt-5"> -->





                                                            <!-- <div class="row">
                            <div class="col-sm-12 col-md-8">
                                <div class="txtBlock">
                                    <h3>Metaverse is soaring to new<br>
                                        heights with each passing day.
                                    </h3>
                                    <p style="margin-left: 20px;">Although Metaverse is for everyone
                                        and different industries are adopting it,
                                        the gaming industry adopted Metaverse
                                        earlier than others to unlock its full benefits.
                                    </p>
                                </div>
                            </div>
                             <div class="col-sm-12 col-md-4">
                                <img src="../../../assets/images/img-gamepad.png" alt="Image" class="gamePadImg">
                            </div> 
                        </div> -->
                    <!-- </div> -->
                    <!-- <p class="mt-5 mb-5"></p> -->
                </div>
            </div>
        </div>
    </div>
    <section class="footerInner p-4">
        <div class="bgImg">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-md-12">
                        <app-footer></app-footer>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-12">
                        <social-bar></social-bar>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>