<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-12">
            <div class="innerLogoArea">
                <img src="assets/images/logo.png" alt="Logo" class="innerLogo">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-12">
            <div class="greyBox">
                <div class="head p-4">
                    <h3 class="mb-0">Profile INFO</h3>
                </div>
                <div class="formContent">
                    <div class="alert alert-primary" role="alert">
                        <i class="fal fa-info-circle"></i>Let us know a little about yourself
                    </div>
                    <form>
                        <div class="mb-4 row">
                            <label for="staticEmail" class="col-sm-3 col-form-label">Username</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="inputPassword" placeholder="e.g John007">
                            </div>
                        </div>
                        <div class="mb-4 row">
                            <label for="inputPassword" class="col-sm-3 col-form-label">Date of Birth</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="inputPassword" placeholder="02-12-1991">
                            </div>
                        </div>
                        <div class="mb-4 row">
                            <label for="inputPassword" class="col-sm-3 col-form-label">Name</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="inputPassword" placeholder="Name">
                            </div>
                        </div>
                        <div class="mb-4 row">
                            <label for="inputPassword" class="col-sm-3 col-form-label">About</label>
                            <div class="col-sm-9">
                                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Tell us more about yourself"></textarea>
                            </div>
                        </div>
                        <div class="mb-4 row">
                            <label for="inputPassword" class="col-sm-3 col-form-label">Gender</label>
                            <div class="col-sm-9">
                                <select class="form-select" aria-label="Default select example">
                                    <option selected>Select</option>
                                    <option value="1">Male</option>
                                    <option value="2">Female</option>
                                </select>
                            </div>
                        </div>
                        <div class="mb-4 row">
                            <label for="inputPassword" class="col-sm-3 col-form-label">Time Zone </label>
                            <div class="col-sm-9">
                                <select class="form-select" aria-label="Default select example">
                                    <option selected>Select</option>
                                    <option value="1">+05:00 (GMT +5:00)  Karachi, Tashkent</option>
                                </select>
                            </div>
                        </div>
                        <div class="mb-4 row">
                            <div class="col-sm-3">

                            </div>
                            <div class="col-sm-9">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                    <label class="form-check-label" for="flexCheckDefault">
                                        I wish to join the gaming community.AI NewsLetter
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="mb-4 row">
                            <div class="col-sm-3">

                            </div>
                            <div class="col-sm-9">
                                <div class="actionBtns">
                                    <div class="d-flex justify-content-between">
                                        <button type="submit" class="btn submit">FINISH</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>