@import url('../fonts/stylesheet.css');
@import url('../fonts/all.css');

body {
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#00163e+0,fe0000+100 */
    background: #00163e;
    /* Old browsers */
    background: -moz-linear-gradient(left, #00163e 0%, #fe0000 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #00163e 0%, #fe0000 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #00163e 0%, #fe0000 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00163e', endColorstr='#fe0000', GradientType=1);
    /* IE6-9 */

}

nav.mainNav a.nav-link {font-family: 'Bebas Neue';font-weight: bold;font-style: normal;font-size: 1.4rem;color: #fefefe !important;}
nav.mainNav a.nav-link:hover {opacity: .75;}
.navbar-expand-md .navbar-nav .nav-link {padding-right: 0.75rem;padding-left: 0.75rem;}
nav.mainNav .dropdown-toggle::after {display: none;}
nav.mainNav {height: 105px;}
nav.mainNav li.nav-item.playLink i.fas {position: absolute;bottom: -7px;left: 19px;}
nav.mainNav li.nav-item.corporateLink i.fas {position: absolute;bottom: -7px;left: 41px;}
.rightNav a.signUp {font-family: 'Bebas Neue';font-weight: bold;font-style: normal;font-size: 1.4rem;color: #fe0402;text-decoration: none;}
.rightNav .signUpCont {background-color: #fff;padding: 5px 15px;}
nav.mainNav .navbar-brand {margin-left: 20px;}
.rightNav .signInCont {background: -moz-linear-gradient(left,  rgba(226,25,46,0) 0%, rgba(68,29,232,1) 100%);
background: -webkit-linear-gradient(left,  rgba(226,25,46,0) 0%,rgba(68,29,232,1) 100%);
background: linear-gradient(to right,  rgba(226,25,46,0) 0%,rgba(68,29,232,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00e2192e', endColorstr='#441de8',GradientType=1 );padding: 5px 30px 5px 100px;}
.rightNav a.signIn, .rightNav a.buy {font-family: 'Bebas Neue';font-weight: bold;font-style: normal;font-size: 1.4rem;color: #fff;text-decoration: none;}
.rightNav .buyCont {padding: 5px;}
.rightNav {position: relative;}
.rightNav
.carousel-caption {bottom: auto !important;top: 40%;}
.carousel-caption h1 {font-size: 4rem;color: #fff;font-family: 'Pilot Command Laser Super-Ital';font-weight: normal;font-style: normal;margin-bottom: 0px;}
.carousel-caption p {font-size: 2.4rem;color: #fe0607;font-family: 'Pilot Command Laser Super-Ital';font-weight: normal;font-style: normal;}
.carousel-control-next-icon, .carousel-control-prev-icon {
    display: inline-block;
    width: 48px;
    height: 87px;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 100% 100%;
}
.carousel-control-next-icon {
    background-image:url(../images/icoNext.png);
}

.carousel-control-prev-icon {
background-image:url(../images/icoPrev.png);
}
.discount {background-color: #fff;position: absolute;top: 0px;left: 0px;right: 0px;z-index: 5;}
.discount h2 {font-size: 2rem;color: #00163e;
    font-family: 'Pilot Command Spaced';
    font-weight: normal;
    font-style: normal;}

.topContent {position: relative;}
.topContent .joyLeft {position: absolute;top: 0px;left: 0px;z-index: 6;}
.topContent .joyRight {position: absolute;top: 0px;right: 0px;z-index: 7;}
.content {background-image: url(../images/img-bodyBG.jpg);background-repeat: repeat;background-size: cover;background-position: top center;}
.upcomingTournaments {margin-top: 13rem;position: relative;z-index: 99;}
.upcomingTournaments h3 {font-size: 2.6rem;color: #fff;}
.langSel a.nav-link {position: absolute;
    z-index: 99;
    top: -35px;
    right: 80px;font-size: 1.2rem !important;}
.langSel .dropdown-menu[data-bs-popper] {
    top: -6%;
    left: -240px;
    margin-top: 0.125rem;
}
.langSel a.nav-link i.fas {margin-left: 10px;}
.gameImg {height: 286px;}
.gameImgSmall {height: 183px;}
.gameImg.lego {background-image: url(../images/img-game-lego.jpg);background-repeat: no-repeat;background-size: cover;background-position: center center;}
.gameImg.apex {background-image: url(../images/img-game-apex.jpg);background-repeat: no-repeat;background-size: cover;background-position: center center;}
.gameImgSmall.game1 {background-image: url(../images/img-game-3.jpg);background-repeat: no-repeat;background-size: cover;background-position: center center;}
.gameImgSmall.game2 {background-image: url(../images/img-game-4.jpg);background-repeat: no-repeat;background-size: cover;background-position: center center;}
.gameImgSmall.game3 {background-image: url(../images/img-game-5.jpg);background-repeat: no-repeat;background-size: cover;background-position: center center;}

.upcomingTournaments .card {-webkit-border-radius: 0;border-radius: 0;}
.upcomingTournaments .card p.format {color: #fe0402;font-size: 2rem;font-family: 'Bebas Neue';font-weight: normal;font-style: normal;}
.upcomingTournaments .card p.format span {font-family: 'Pilot Command Laser Super-Ital';font-weight: normal;font-style: normal;margin-left: 5px;}
.gameImg p, .gameImgSmall p {font-size: 2rem;font-family: 'Bebas Neue';font-weight: bold;font-style: normal;color: #fff;}
.gameImg p span, .gameImgSmall p span {font-family: 'Pilot Command Laser Super-Ital';font-weight: normal;font-style: normal;margin-left: 5px;}
.upcomingTournaments .card p.prize {color: #001d51;font-size: 1.6rem;  font-family: 'Pilot Command Laser Super-Ital';
    font-weight: normal;
    font-style: normal;}
.upcomingTournaments .card p.prize span {font-family: 'Pilot Command Spaced';
    font-weight: normal;
    font-style: normal;font-size: 1.2rem;}

.upcomingTournaments em {font-family: 'AktivGrotesk';
    font-weight: 300;
    font-style: normal;color: #001d51;font-size: 1.5rem;}
.upcomingTournaments .actionBtns, .actionBtns {text-align: center;}
.btn-primary {    font-family: 'Bebas Neue Book';
    font-weight: normal;
    font-style: normal;color: #fff;background-color: transparent;border: 2px solid #fff;font-size: 2rem;-webkit-border-radius: 0;border-radius: 0;padding: 0.375rem 2rem;}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active {background-color: #fff;color: #fe0607;border: 2px solid #fff;font-family: 'Bebas Neue Book';
    font-weight: normal;
    font-style: normal;}
.inviteTxt {text-align: center;}
.inviteTxt h3 {    font-family: 'Pilot Command Spaced';
    font-weight: normal;
    font-style: normal;color: #fff;font-size: 2rem;}

.inviteTxt .bdrDiv {border-left:3px solid #1800ff;border-top:3px solid #1800ff;border-right:3px solid #fe0000;border-bottom:3px solid #fe0000;padding:2rem;}
.inviteTxt .bdrDiv p {font-family: 'Pilot Command Spaced';
    font-weight: normal;
    font-style: normal;color: #fe0402;font-size: 1.2rem;}
.inviteTxt .bdrDiv p span {color: #fff;}
.signUpCont {text-align: center;}

.favGame {background-color: #202020;padding:5rem 3rem;}
.favGame {color: #fff;}
.favGame .txtBlock {position: relative;padding-left: 9rem;padding-top: 3rem;}
.favGame .txtBlock h3 {font-family: 'Pilot Command Spaced';
    font-weight: normal;
    font-style: normal;font-size: 2rem;}
.favGame .txtBlock p {font-size: 1.4rem;    font-family: 'AktivGrotesk';
    font-weight: 300;
    font-style: normal;}
.favGame .txtBlock::before {
   content: '';
    background: url(../images/img-quote-start.png);
    position:absolute;
    top:0px;
    left:0px;
    height: 89px;
    width: 112px;
}
.favGame .txtBlock::after {
   content: '';
    background: url(../images/img-quote-end.png);
    position:absolute;
    bottom:0px;
    right:50px;
    height: 89px;
    width: 112px;
}

h2, h1 {font-family: 'Pilot Command Laser Super-Ital';
    font-weight: normal;
    font-style: normal;}

h3 {    font-family: 'Pilot Command Spaced';
    font-weight: normal;
    font-style: normal;}

h4 {    font-family: 'Century Gothic';
    font-weight: bold;
    font-style: normal;}

.topGames {margin-top: 8rem;}

.topGames .title {background-color: #fff;padding: 3rem;text-align: center;}
.topGames .title h3 {    font-family: 'Pilot Command Laser Super-Ital';
    font-weight: normal;
    font-style: normal;color: #fe0402;font-size: 4rem;}
.topGames img.topGameImg {width: 100%;}
.topGames .card {-webkit-border-radius: 0;border-radius: 0;}
.topGames .card h3 {font-family: 'Pilot Command Laser Super-Ital';
    font-weight: normal;
    font-style: normal;color: #2718f6;font-size: 1.7rem;}
.topGames .card p {font-size: 1.4rem;    font-family: 'AktivGrotesk';
    font-weight: 300;
    font-style: normal;color: #2718f6;}

.howthisWorks {background-color: rgba(255, 255, 255, 0.9);padding:3rem 5rem;}
.howthisWorks h3 {color: #2718f6;font-size: 3rem;}
.howthisWorks h4 {color: #404040;font-size: 1.6rem;}
.howthisWorks .feature img.featureImg {margin: .5rem 0rem;}
.howthisWorks .feature p {color: #404040;font-size: 1.25rem;font-family: 'Century Gothic';font-weight: bold;font-style: normal;}
.featureBox {border:2px solid #fff;text-align: center;padding: 3rem 2rem;margin-top: 8rem;}
.featureBox h2 {color: #fff;font-size: 1.2rem;}
.companyLatest {margin-top: 8rem;}
.companyLatest .title {padding: 5rem 3rem;}
.companyLatest .title h3 {font-size: 2.4rem;}
.companyLatest .title h3 span {color: #404040;}
.latestNews .card p {color: #404040;font-size: 1.4rem;    font-family: 'Century Gothic';font-weight: bold;font-style: normal;}
.latestNews .card {min-height: 120px;}
img.comLatestImg {width: 100%;}
.footer {margin-top: 10rem;}
.footer .footerLogoCont {background-image: url(../images/img-footerBdr.png);background-repeat: no-repeat;background-position: right top;min-height: 531px;padding-top: 10rem;}
.footer .FooterNav h5 {    font-family: 'Bebas Neue';
    font-weight: bold;
    font-style: normal;color: #fff;font-size: 4.2rem;}
.footer .FooterNav ul li a {color: #fff;font-size: 2.8rem;    font-family: 'Bebas Neue';font-weight: 300;font-style: normal;text-decoration: none;}
.footer .FooterNav ul li a:hover {opacity: .75;}
.socialBar {margin-top: 7rem;}
.socialBar ul li a .fab {font-size: 1.6rem;}
.socialBar ul li a {color: #fff;background-color: #770103;-webkit-border-radius: 50%;
border-radius: 50%;width: 48px;
    height: 48px;
    padding: 11px 11px 11px 13px;
    display: block;}
.socialBar ul li a:hover {opacity: .75;}
.socialBar h5 {    font-family: 'Bebas Neue';
    font-weight: bold;
    font-style: normal;font-size: 3rem;color: #fff;}