
       <ng-container *ngIf="isViewAll">
        <app-navbar></app-navbar>
        <hr class="pageSeprator m-0">
        <div class="headerInner" bodyTheme>
            <h5>Articles</h5>
        </div>
    
        <section class="content">
            <div class="container">
                <div class="latestArticles">
                    <div class="row">
                        <h5 class="mt-4 mb-4 text-center">Latest Articles</h5>
                        <div class="col-sm-12 col-md-4" *ngFor="let item of articles; let i=index;">
                            <div class="blogImg smalllatest mt-2 game3 mb-3" [ngStyle]="loadImage(item)">
                                <div class="info shadowBlack">
                                    <a [routerLink]="['/blog-details']" [queryParams]="{ p: item?.id}">
                                        <h5>{{item?.title}}</h5>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          
            <section class="footerInner p-4">
                <div class="bgImg">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-12 col-md-12">
                                <app-footer></app-footer>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 col-md-12">
                                <social-bar></social-bar>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </section>
    
    </ng-container>