<section class="content" bodyTheme>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12">
                <div class="innerLogoArea">
                    <img src="../../../assets/images/logo.png" alt="Logo" class="innerLogo">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-12">
                <div class="greyBox">
                    <div class="head p-4">
                        <h3 class="mb-0">Verify Code</h3>
                    </div>
                    <div class="formContent codeCont">
                        <p class="text-center">Please enter the 5 digit verification code that has been sent to your email</p>
                        <form>
                            <label class="text-center mb-4">Verification Code</label>
                            <div class="d-flex justify-content-between">
                                <input type="text" class="form-control">
                                <input type="text" class="form-control">
                                <input type="text" class="form-control">
                                <input type="text" class="form-control">
                                <input type="text" class="form-control">
                            </div>
                            <button type="submit" class="btn submit">Confirm Code</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>