
       <ng-container *ngIf="isViewAll">
        <app-navbar></app-navbar>
        <hr class="pageSeprator m-0">
        <div class="headerInner" bodyTheme>
            <h5>Announcements</h5>
        </div>
    
        <section class="content">
            <div class="container">
                <div class="latestNews contentShort mt-5">
                    <div class="row">
                        <div class="col-sm-12 col-md-4" *ngFor="let item of tournaments; let i=index;">
                            <div class="blogImg newsbig mb-3" [ngStyle]="loadImage2(item)">
                                <div class="info shadowBlack">
                                    <a [routerLink]="['/blog-details']" [queryParams]="{ p: item?.id}">
                                        <h5>{{item?.title}}</h5>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <section class="footerInner p-4">
                <div class="bgImg">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-12 col-md-12">
                                <app-footer></app-footer>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 col-md-12">
                                <social-bar></social-bar>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </section>
    
    </ng-container>
       
    <ng-container *ngIf="!isViewAll">
        <div class="companyLatest" *ngIf="!isViewAll">
            <div class="row">
                <div class="col-sm-12 col-md-12">
                    <div class="title mb-5">
                        <h3>THE GAME COMPANY <span>LATEST</span></h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <ng-container *ngFor="let item of tournaments; let i=index;">
                <div class="col-sm-12 col-md-4">
                    <div class="latestNews">
                        <div class="d-flex flex-column bd-highlight mb-4">
                            <div class="p-0 bd-highlight">
                                <img [src]="loadImage(i)" alt='Image' class="comLatestImg">
                            </div>
                            <div class="p-0 bd-highlight">
                                <div class="card p-4">
                                    <p class="mb-0">{{item?.title}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                </ng-container>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-12">
                    <div class="actionBtns mt-4 mb-4">
                        <a [routerLink]="['/latest-news']" class="btn btn-primary">View More</a>
                    </div>
                </div>
            </div>
        </div>
    </ng-container>