<nav class="navbar navbar-expand-md navbar-dark mainNav">
    <div class="container-fluid p-0">
        <a class="navbar-brand" routerLink=""><img src="../../../../assets/images/logo.png" alt="Logo"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
                <li class="nav-item dropdown playLink">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-bs-toggle="dropdown" aria-expanded="false">PLAY<i class="fas fa-chevron-down"></i></a>
                    <ul class="dropdown-menu play" aria-labelledby="dropdown01">
                        <ng-container *ngFor="let item of tournaments; let i=index;">
                            <li class="nav-item" *ngIf="i <= 4">
                                <a class="nav-link" [routerLink]="['/blog-details']" [queryParams]="{ p: item?.id}">
                                    <div class="d-flex align-items-center"><img width="70" height="83" [src]="loadImage(i)" alt="Image"><span>
                                        {{item?.title}}
                                        </span></div>
                                </a>
                            </li>
                            
                        </ng-container>
                        <li class="nav-item viewallgames" *ngIf="tournaments.length > 5">
                            <a class="nav-link" href="#">
                                VIEW ALL GAMES
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/watchus">WATCH</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/tournaments" tabindex="" aria-disabled="true">tournaments</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" tabindex="" aria-disabled="true">Community</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/blogs" tabindex="" aria-disabled="true">BLOG</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/faqs" tabindex="" aria-disabled="true">FAQs</a>
                </li>
                <li class="nav-item dropdown corporateLink">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdown02" data-bs-toggle="dropdown" aria-expanded="false">CORPORATE<i class="fas fa-chevron-down"></i></a>
                    <ul class="dropdown-menu" aria-labelledby="dropdown02">
                        <li><a class="dropdown-item" routerLink="/game-dev">Game Dev</a></li>
                        <li><a class="dropdown-item" routerLink="/metaverse">Metaverse</a></li>
                        <li><a class="dropdown-item" routerLink="/contact-support">Contact Page & Support</a></li>
                        <li><a class="dropdown-item" routerLink="/social-links">Social Media Link Pages</a></li>
                        <li><a class="dropdown-item" routerLink="/video-stream">Video Stream</a></li>
                        <li><a class="dropdown-item" routerLink="/tokenomics">Tokenomics</a></li>
                        <li><a class="dropdown-item" routerLink="/legal">Legal</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" tabindex="" aria-disabled="true">MORE</a>
                </li>
            </ul>
            <form class="d-flex rightNav">
                <div class="buyCont"><a href="#" class="buy">BUY</a></div>
                <div class="signInCont"><a routerLink="/login" class="signIn">SIGN IN</a></div>
                <div class="signUpCont"><a routerLink="/register" class="signUp">SIGN UP</a></div>
                <div class="langSel dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdown03" data-bs-toggle="dropdown" aria-expanded="false">LANGUAGE<i class="fas fa-chevron-down"></i>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="dropdown03">
                        <li><a class="dropdown-item" href="#">English</a></li>
                        <li><a class="dropdown-item" href="#">Italiano</a></li>
                        <li><a class="dropdown-item" href="#">Deutsch</a></li>
                        <li><a class="dropdown-item" href="#">العربية</a></li>
                        <li><a class="dropdown-item" href="#">Espa&ntilde;ol</a></li>
                        <li><a class="dropdown-item" href="#">Portugu&ecirc;s</a></li>
                        <li><a class="dropdown-item" href="#">Fran&ccedil;aise</a></li>
                        <li><a class="dropdown-item" href="#">T&uuml;rk</a></li>
                    </ul>
                </div>
            </form>
        </div>
    </div>
</nav>